opentelemetry.api
opentelemetry.sdk>=1.41.1
opentelemetry.exporter.otlp.proto.grpc
opentelemetry.exporter.otlp.proto.http
opentelemetry.instrumentation.logging
pyrfc3339
ghapi
requests
python-dateutil
